In [ ]:
#if not installed, run this
#!pip install geopandas
#!pip install Shapely
#!pip install matplotlib

### Import Libraries

In [3]:
import cx_Oracle
import logging
import os
import pandas as pd
import warnings
import ads

from ads.database import connection 
from ads.database.connection import Connector
from ads.dataset.factory import DatasetFactory
from urllib.request import urlopen
from sqlalchemy import create_engine

#warnings.filterwarnings("ignore", category=DeprecationWarning) 
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.INFO)
warnings.filterwarnings("ignore")

In [4]:
database_name = "ADB01"
connection.get_repository(key=database_name)

{'database_type': 'oracle',
 'database_name': 'adb01_high',
 'username': 'ML_Analyst',
 'password': 'NDRCwelcome1'}

In [5]:
wallet_path = os.path.join(os.path.expanduser("~"), f"Wallet_{database_name}.zip")

if database_name != "<database_name>":
    connection.import_wallet(wallet_path=wallet_path, key=database_name)

In [6]:
connector = Connector(key=database_name)

In [7]:
 print(connector.config)

{'database_type': 'oracle', 'database_name': 'adb01_high', 'username': 'ML_Analyst', 'password': 'NDRCwelcome1'}

In [8]:
connector.connect()

### Connect to Autonomous Database

In [9]:
# Query data
ais_ships = """
    SELECT * 
    FROM ANALYST.AIS_SHIPS
    FETCH FIRST 100 ROWS ONLY
    """

#### Fetch Data as DatasetFactory

In [10]:
ais = DatasetFactory.open(connector.uri, format="sql",table=ais_ships)
#print(ais.head())
type(ais)

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

100 rows [00:00, 2828.49 rows/s]

ads.dataset.dataset.ADSDataset

In [11]:
#### Fetch Data as Pandas Dataframe

In [16]:
# Make a connection to the Engine and run a query
engine = create_engine(connector.uri)
sql_ais = "SELECT * FROM ANALYST.AIS_SHIPS FETCH FIRST 100 ROWS ONLY"
ais_table = pd.read_sql(sql_ais, con=engine)

In [17]:
type(ais_table)

pandas.core.frame.DataFrame

In [18]:
ais_table.head()

,mmsi,basedatetime,date_as_number,latitude,longitude,sog,cog,heading,vesselname,imo,...,vesseltype,vessel_category,vessel_status_code,vessel_status_desc,vessel_length,vessel_width,draft,cargo,transcieverclass,studio_key
0,367423550,2020-10-13 21:46:03,651.906979,21.32924,-158.12,0.0,193.7,511,STAR CHASER,None,...,37,Pleasure Craft/Sailing,None,None,12,NaN,None,None,B,701616789
1,367423550,2020-10-13 21:52:05,651.911169,21.32924,-158.12,0.0,193.7,511,STAR CHASER,None,...,37,Pleasure Craft/Sailing,None,None,12,NaN,None,None,B,681767147
2,367423550,2020-10-07 23:58:05,645.998669,21.32924,-158.12,0.0,-137.2,511,STAR CHASER,None,...,37,Pleasure Craft/Sailing,None,None,12,NaN,None,None,B,1930143283
3,367423550,2020-10-13 02:13:04,651.092407,21.32925,-158.12,0.0,-145.2,511,STAR CHASER,None,...,37,Pleasure Craft/Sailing,None,None,12,NaN,None,None,B,1277033128
4,367423550,2020-10-13 02:22:04,651.098657,21.32925,-158.12,0.0,-145.2,511,STAR CHASER,None,...,37,Pleasure Craft/Sailing,None,None,12,NaN,None,None,B,1117051213